body {
    background-color: rgb(187, 246, 226);
    font-size: 25px;
    text-align: center;
}

.head {
    text-align: center;
}

.title {
    text-align: center;
}

.title {
    font-size: 25px;
}

.div1 {
    background-color: white;
    padding: 50px 50px;
    padding-bottom: 100px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
}

img {
    width: 300px;
}